
.blogMainContainer {
    display: flex;
}

.blogMainItem {
    display: inline-block;
    margin: 5% 0 5% 5%;
    width: 1000px;
    border-radius: 6px;
    padding: 10px;
    /* background: #90a7c5;  used to test css*/
}

.BMImg {
    width: auto;
    border-radius: 6px;
    height: 400px;
    object-fit: cover;
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
}


.blogPost {
    width: auto;
}

.BMImgAvatar {
    width: 50px;
    border-radius: 10px;
}

.mainGrid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "box1 box1"
        "box2 box4"
        "box3 box3";
}

header {
    grid-area: box1;
}



.blogMainContainer {
    grid-area: box2;
}

.sidePost {
    grid-area: box4;
}

.blogMainItem btn2 {
    float: right;
}




