

.sidePost h1  {
    font-size: 20px;
    padding: 3px;
}
.sidePost h3 {
    margin-left: 5%;
    margin-top: 5%;
}

.BimgLatest {
    width: 275px;
    border-radius: 6px;
    height: auto;
    object-fit: fill;
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
}

.LatestItem {
    width: 300px;
    margin-top: 5%;
    margin-right: 7%;
}

.blogItemLatest {
    width: 290px;
    margin-right: 3%;
    
}
