@media screen and (max-width: 800px){
    /* Grid layout */
    
    .mainGrid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 200px 1fr 700px 100px;
        grid-template-areas: "box1"
            "box2"
            "box4"
            "box3";
    }
    .blogMainItem {
        display: inline-block;
        margin: 5%;
        width: auto;
        border-radius: 6px;
        padding: 20px;
        margin-left: 4%;
    }
    
    .BMImg {
        width: 600px;
        border-radius: 6px;
        height: auto;
        object-fit: cover;
        -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
        box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
    }
    
    .BimgLatest {
        width: 400px;
        border-radius: 6px;
        height: auto;
        object-fit: fill;
        -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
        box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
    }
    
    
    
}

@media screen and (max-width: 375px) {
    
    /* Main blog item*/
    
    .BMImg {
        width: 300px;
        border-radius: 6px;
        height: auto;
        object-fit: cover;
        -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
        box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
    }
    
    
    /* Latest blog item*/
    
    .sidePost {
        margin-left: 5%;
    }
    
    .BimgLatest {
        width: 200px;
        border-radius: 6px;
        height: auto;
        object-fit: fill;
        -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
        box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
    }
}

