* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #D8D6D1;
}

html {
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 200;
}

footer {
    display: flex;
    flex-direction: row;
}

.footer {
    display: inline;
}


/* Grid layout */

.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 100px;
    grid-template-areas: "box1 box1 box1 "
        "box2 box2 box4 "
        "box3 box3 box3";
}

header {
    grid-area: box1;
}

footer {
    grid-area: box3;
}

.sidePost {
    grid-area: box4;
}



/* Navigation */

li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
    
header{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 5%;
}
    
.logo{
    cursor: pointer;
    margin-right: auto;
    width: 70px;
    height: 65px;
}

.nav_links{
    list-style: none;
    transition: 0.4s;
}

.nav_links li{
    display: inline-block;
    padding: 0px 5px;
}

.nav_links li a{
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
    color: white;
}

.show-menu-btn, .hide-menu-btn{
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
/* Nagivation end*/


/* Main blog content */

.blogContainer{
    grid-area: box2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 35px;   
    padding-top: 42px;
}

.blogItem{
    display: inline-block;
    margin: 5%;
    width: 100px;
    border-radius: 6px;
    padding: 4p;
    
}

.B_Img {
    width: 200px;
    border-radius: 6px;
    width:  300px;
    height: 300px;
    object-fit: cover;
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.13);
}

.blogItem, p {
    width: 300px;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 5%;
}

/* Main blog content end*/


/* Side / latest blog item */

.sidePost h1  {
    font-size: 20px;
    padding: 3px;
}
.sidePost h3 {
    margin-left: 6%;
    margin-top: 5%;
}


/* Media queries  */

@media screen and (max-width: 800px){
    /* Navigation */
    
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }
    
    .nav_links  {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #D8D6D1;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    
    .nav_links li {
        display: block;
        padding: 20px;
    }
    
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    
    #chk:checked ~ .nav_links {
        right: 0;
    }
    /* Latest blog item*/
    
    .sidePost {
        margin-left: 15%;
    }
    
    /* Grid layout */
    
    .mainGrid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 200px 1fr 700px 100px;
        grid-template-areas: "box1"
            "box2"
            "box4"
            "box3";
    }
    
    /* Footer*/
    
    footer {
        display: flex;
        justify-content: center
    }
    
    
}

    








